body {
  font-family: "Ilisarniq-Demi";
  color: black;
  margin: 0%;
}

span {
  font-family: "Ilisarniq-LightItalic";
}

h2 {
  font-size: 60px;
  margin-bottom: 0px;

  margin-top: 0px;
  letter-spacing: 4px;
  color: rgb(0, 0, 0);
}
h3 {
  font-family: "Ilisarniq-LightItalic";
  font-size: 20px;
  letter-spacing: 3px;
}

h4 {
  font-size: 30px;
}

p {
  font-size: 22px;
  font-family: "Ilisarniq-LightItalic";
}

a {
  text-decoration: none;
  color: black;
  font-family: "Ilisarniq-Light";
}
a:hover {
  cursor: pointer;
}

.body-content {
  text-align: left;
  width: 50%;
  padding: 20px;
  align-self: center;
  overflow: hidden;

  color: black;
  margin-bottom: 10%;
}

.videoImg {
  width: 768px;
  height: 432px;
}

#aktuellt {
  object-position: 0% 20%;
  opacity: 0.8;
}

p {
  font-size: 22px;
  font-family: "Ilisarniq-LightItalic";

  @media only screen and (max-width: $mobile) {
    font-size: 19px;
  }
}

h1 {
  text-align: center;
  font-size: 60px;
  margin: 70px;
  margin-top: 0px;
  margin-bottom: 10%;
  display: none;
  @media only screen and (max-width: $mobile) {
    margin-top: -20%;
  }
}
li {
  font-size: 20px;
  padding: 10px;
  margin: 40px;
  margin-top: 0%;

  @media only screen and (max-width: $tablet) {
    padding: 0;
    margin: 30px;
    margin-top: 0;
  }
}

@media only screen and (max-width: $mobile) {
}
.body-content {
  text-align: left;
  width: 50%;
  padding: 20px;
  align-self: center;
  overflow: hidden;

  color: black;
  @media only screen and (max-width: $mobile) {
    width: 90%;
  }
}
#app {
  height: 100%;
  margin: 0;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}